.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.card {
  width: 80vw;
  height: 80vh;
  max-width: 80em; /* Evita que o card fique grande demais em telas enormes */
  max-height: 50em;
  min-width: 20em; /* Mantém um tamanho mínimo */
  min-height: 30em;
  background: #27272a;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 3vw; /* Tamanho ajustável conforme a tela */
}

.card .info {
  font-weight: 400;
  color: white;
  text-align: justify;
  font-size: 2vw;
  margin: 2vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.card .border_img {
  width: min(12vw, 6em); /* Ajustável sem ultrapassar 6em */
  height: min(10vw, 6em);

  border-radius: 15px;
  margin: auto;
}
.img {
  border: 2px solid white;
  border-radius: 100px;
}

.card .share {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.card a {
  color: white;
  transition: 0.4s ease-in-out;
  font-size: 2vw;
}

.card a:hover {
  color: #10b981;
}

.card .link {
  padding: 1.2vh 2.5vw;
  font-size: 2vw;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

.card .link:hover {
  background: #10b981;
  color: white;
  cursor: pointer;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .card {
    width: 80vw;
    height: 80vh;
    min-height: 30vh;
    padding: 1.5rem;
  }

  .card span {
    font-size: 5vw;
  }

  .card .info {
    font-size: 3.5vw;
  }

  .card .link {
    font-size: 3.5vw;
    padding: 1rem 2rem;
  }
}
