.container {
  /* Background */
  /* Basic dimensions and centering */
  max-width: 100%;
  min-height: 100vh;

  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* Dark mode colors and gradient */
  background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@media (min-width: 640px) and (min-height: 480px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) and (min-height: 600px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
